<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
					 http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
					 http://www.springframework.org/schema/context
					 http://www.springframework.org/schema/context/spring-context-3.2.xsd
					 http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
					 http://www.springframework.org/schema/jdbc
					 http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd">

	<context:annotation-config/>
	
	<context:component-scan base-package="com.mms.blogs.demo.mybatisspring"></context:component-scan>

    <util:properties id="applicationProps" location="classpath:app.properties" />
    <context:property-placeholder properties-ref="applicationProps" ignore-resource-not-found="true" />

	<jdbc:embedded-database id="dataSource2">
		<jdbc:script location="classpath:schema.sql"/>
	</jdbc:embedded-database>

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
          destroy-method="close" p:driverClass="${app.jdbc.driverClassName}"
          p:jdbcUrl="${app.jdbc.url}" p:user="${app.jdbc.username}" p:password="${app.jdbc.password}"
          p:acquireIncrement="10" p:idleConnectionTestPeriod="60" p:maxPoolSize="50"
          p:maxStatements="50" p:minPoolSize="5"
            />

	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"
          p:dataSource-ref="dataSource"
          p:configLocation="classpath:mybatis-config.xml"
    />

	<!--bean class="org.mybatis.spring.SqlSessionFactoryBean" id="sqlSessionFactory">
		<property name="dataSource" ref="dataSource"/>

    </bean-->
    <mybatis:scan base-package="com.mms.blogs.demo.mybatisspring.mapper" factory-ref="sqlSessionFactory" annotation="org.springframework.stereotype.Repository"/>

	<!--bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
		<property name="basePackage" value="com.mms.blogs.demo.mybatisspring.mapper"/>
	</bean-->
	
</beans>
